.footer{
    width: 100%;
    background-color: var(--color-dark-bg);
    color: var(--color-light-text);
    text-align: center;
    padding: 8rem 0;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.wrapper h3 {
    font-size: 2rem;
}
.wrapper p {
    font-size: 1.4rem;
    margin: 0;
}
.footer-container{
    padding: 3rem;
}
.footer-container h3 {
    margin-bottom: 2rem;
}
.footer-container p {
    margin-bottom: 1rem;
}
.contact-container p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-container span {
    font-size: 2.5rem;
    margin-right: 1rem;
}
.some-container div {
    max-width: 20rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

.some-container div a {
    font-size: 2rem;
    color: var(--color-dark-bg);
    background-color: var(--color-light-text);
    display: grid;
    padding: 1rem;
    border-radius: 50%;
    transition: var(--transition);
}
.some-container div a:hover {
    color: var(--color-dark-text);
    background-color: var(--color-secondary);
}
@media screen and (min-width: 467px){
    .some-container{
        grid-column: 1 / -1;
    }
}
@media screen and (min-width: 900px){
    .wrapper{
        display: flex;
        justify-content: space-between;
    }
    .wrapper h3 {
        font-size: 2.5rem;
    }
    .wrapper p {
        font-size: 1.8rem;
    }
    .footer-container{
        max-width: 32rem;
        text-align: left;
    }
    .contact-container{
        max-width: 20rem;
    }
    .contact-container p {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .some-container div a{
        font-size: 2.5rem;
        padding: 1rem;
    }

}