*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-overlay: rgba(0, 0, 0, .6);
  --color-light-bg: #2E2925;
  --color-dark-bg: #211E1B;
  --color-secondary: #F1B356;
  --color-light-text: #CCC4BC;
  --color-dark-text: #8A837D;

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --transition: all .3s ease-in-out;
}
html{
  font-size: 10px;
  scroll-behavior: smooth;
}
body{
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  background-color: var(--color-light-bg);
}
h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
}
.container{
  width: var(--container-width-md);
  max-width: 1920px;
  margin-inline: auto;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.btn{
  background-color: var(--color-secondary);
  border: none;
  outline: none;
  font-family: 'Crimson Text', serif;
  border-radius: 2rem;
  padding: .5rem 2rem;
  font-weight: 700;
  cursor: pointer;
  transition: var(--transition);
  width: fit-content;
}
.btn:hover{
  filter:brightness(85%);
}

/* Header Image Section */
.header {
  width: 100%;
  height: 35vh;
  background-color: var(--color-overlay);
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
}
.header h1 {
  font-size: 4rem;
  z-index: 1;
}
.header img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: brightness(40%); */
}
.header-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  z-index: 1;
}

@media screen and (min-width: 1024px){
  .container{
    width: var(--container-width-lg);
    margin-inline: auto;
  }
  .btn{
    padding: .6rem 2.6rem;
    font-size: 1.6rem;
  }
  .header h1 {
    font-size: 6rem;
  }
}
